<header>
    <nav>
        <a href="/">ReadBytes</a>
        <ul>
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="/books">books</a></li>
            <li><a href="/books/new">Add books</a></li>
        </ul>
    </nav>
</header>